img.logo{
    padding: 5px;
    width: 150px;
  }  

li.links{
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: oblique;
}

.textbanco{
    font-size: 25px;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #000;/* cor da borda */
}
img.cardbanco{
    width: auto;
    height: auto;
    opacity: 0.4;
}

.trabalhos {
    max-width: 100%;
    width: 350px;
    height: 120px;
}

.textoTrabalhos{
    text-align: center;
    position: relative;
}

.contato{
    margin-left: 10px;
    max-width: 100%;
    width: auto;
    height: 50px;
    margin-bottom: 30px;
}

.parceiro{

    margin-left: 10px;
    max-width: 100%;
    width: auto;
    height: 50px;
    margin-bottom: 30px;
}




