img.logo{
    padding: 5px;
    width: 150px;
  }  

li.links{
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: oblique;
}

.quemsou{
    background-color: black;   

}




